@import '../_variables.scss';

.content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.contentWrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

.cardIcon {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    font-size:1.2rem;
    color: $blue-light;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;    
    &:hover{
        color: $blue-dark;
    }
}

.created {
    font-size: 0.7rem;
    color: #888;
    margin-top: 0.5rem;
    text-align: right;
    border-top: 1px dotted #e5e5e5;
    padding-top: 1rem;    
}

.cardHeader {
    .noTextbox {
        color: #007bff!important;
        font-weight: 700!important;        
    }    
}

.cardBody {
    .noTextbox {
        resize: none;
        min-height:70px;
        overflow:hidden;
    }
}

.noTextbox {
    border: 0;
    background: transparent;
    outline: none;
    width: 100%;
}