@import '../_variables.scss';

.checkboxLabel {
    line-height: 1.5rem;
    label{
        cursor: pointer;
    }    
}

.toggleBtn {
    border: 0;
    padding: 0.2rem 0.5rem;
    width:2rem;
    border-radius: 3px;
    margin-right: 0.4rem;
    margin-bottom: 0.5rem;
    color:#888;
    &.active{
        background-color: $blue3-light;
        color:#fff;
    }
    &:hover{
        background-color: $blue3-dark;
        color:#fff;
    }
}
