//Colors
$blue-light: #4e73df !default;
$blue-dark: #224abe !default;
$blue2-light: #085196 !default;
$blue2-dark: #053a6b !default;
$blue3-light: #007bff !default;
$blue3-dark: #0268d4 !default;
$white: #ffffff !default;
$white-80: rgba(255,255,255,.8) !default;
$white-30: rgba(255,255,255,.3) !default;
$red: #e74a3b !default;

//Media queries
$break-xsmall: 576px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;