body {
  margin: 0;
  padding: 0;
  font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-gradient-primary {
  background-color: #4e73df;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#4e73df),to(#224abe));
  background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
  background-size: cover;
}

.sidebar {
  width: 6.5rem;
  min-height: 100vh;
}

.sidebar .sidebar-brand {
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  letter-spacing: .05rem;
  z-index: 1;
  color: #fff;
}

hr.sidebar-divider {
  border: 0;
  border-top: 1px solid rgba(255,255,255,.15);
  margin: 0 1rem 1rem;
}

.sidebar .nav-item.active .nav-link {
  font-weight: 700;
  color: #fff;
}

.sidebar .nav-item.active .nav-link svg {
  color: #fff;
}

.sidebar .nav-item .nav-link {
  color: rgba(255,255,255,.8);
}

.sidebar .nav-item .nav-link svg {
  color: rgba(255,255,255,.3);
}

.sidebar .nav-item:hover .nav-link,
.sidebar .nav-item:hover .nav-link svg
 {
  color: #fff;
}

.sidebar .sidebar-heading {
  text-align: center;
  padding: 0 1rem;
  font-weight: 800;
  font-size: .65rem;
  text-transform: uppercase;
}

.sidebar .sidebar-heading {
  color: rgba(255,255,255,.4);
}

.sidebar .nav-item .nav-link {
  text-align: center;
  padding: .75rem 1rem;
  width: 6.5rem;
}

.sidebar .nav-item .nav-link span {
  font-size: .65rem;
  display: block;
}

.sidebar .sidebar-brand .sidebar-brand-text {
  display: none;
}

.sidebar .sidebar-brand .sidebar-brand-icon svg {
  font-size: 2rem;
}

.topbar #sidebarToggleTop:hover {
  background-color: #eaecf4;
}

.topbar #sidebarToggleTop {
  height: 2.5rem;
  width: 2.5rem;
}

.btn-link {
  font-weight: 400;
  color: #4e73df!important;
  text-decoration: none;
}

.sidebar.toggled {
  width: 0!important;
  overflow: hidden;
}

.topbar .btn {
  margin-top:-4px;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #d1d3e2;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #b7b9cc;
}

.topbar .dropdown .dropdown-menu {
  width: calc(100% - 1.5rem);
  right: .75rem;
}

.dropdown .dropdown-menu {
  font-size: .85rem;
}

.dropdown-menu {
  border: 1px solid #e3e6f0!important;
}

.topbar .dropdown {
  position: static;
}

@-webkit-keyframes growIn {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes growIn {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.animated--grow-in, .sidebar .nav-item .collapse {
  -webkit-animation-name: growIn;
  animation-name: growIn;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);
  animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);
}


@media (min-width: 768px) {

  .sidebar .sidebar-heading {
    text-align: left;
  }

  .sidebar {
    width: 14rem!important;
  }

  .sidebar .sidebar-brand .sidebar-brand-icon {
    font-size: 2rem;
  }

  .sidebar .sidebar-brand .sidebar-brand-text {
    display: inline;
  }

  .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 14rem;
  }

  .sidebar .nav-item .nav-link svg {
    font-size: .85rem;
    margin-right: .25rem;
  }

  .sidebar .nav-item .nav-link span {
    font-size: .85rem;
    display: inline;
  }

}

/* */

.wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}

.wrapper #content-wrapper #content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.topbar {
  height: 4.375rem;
}

.topbar .navbar-search input {
  font-size: .85rem;
}

.topbar .navbar-search {
  width: 25rem;
}

.topbar .navbar-search .btn {
  padding: .5rem .75rem;
}

.btn-primary {
  color: #fff;
  background-color: #4e73df!important;
  border-color: #4e73df!important;
}